{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"></link>
</head>

<body>
	
	<div class="size">
		<div class="background">
			<div id="logout" class="small-text">
				<a href="{% url 'tasks' %}"> view tasks</a><br/>
				<a href="{% url 'logout' %}">logout </a><br/>
				<a href="{% url 'index' %}">home </a>
			</div>
			<div class="wrapper">
				<div class="giant-text pink-text center-text text-border">
					Welcome, {{ user.name }}
				</div>
				<div class="big-text center-text pets">
					{% for pet in pets %}
						<div>
							<a href="{% url 'pet' pk=pet.pk %}">
								<img src="media/{{ pet.icon }}" class="medium-image image-border round" />
							</a>
						</div>
					{% endfor %}
				</div>
				<div class="big-text center-text">
					<a href="{% url 'tasks' %}" class="button">View Tasks</a>
				</div>
			</div>
		</div>
	</div>
</body>