{% load staticfiles %}

{% for t in tasks %}
	<input type="checkbox" id="check" value="{{ t.pk }}" onclick="toggleDone(this);" {% if t.done %}checked{% endif %}> {{ t.name }}
	<a href="{% url 'edit-task' pk=t.id %}"> edit</a>
	<a href=""> delete</a>
	<br />
{% endfor %}

<br />
<img src="{% static "images/test.png" %}" />
<p>
	<a href="{% url 'add-task' %}">Add a new task</a>
</p>

<script type="text/javascript" src="{% static "javascript/jquery-min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/main.js" %}"></script>