body {
	padding: 30vh 15vw 30vh 15vw;
}
#welcome {
	font-family: 'besom', serif;
	opacity: 0.8;
	text-align: center;
	color: #FFF0EA;
}
#tasks {
	width: 30vw;
	margin: 0 20vw 0 20vw;
	padding: 1vh;
	text-align: left;
	color: #FFCFBF;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.25);;
}
#task {
	height: 2em;
	clear: both;
	margin-bottom: 1.5vh;
	padding: 0.75vh;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
#task img {
	float: left;
	width: 2em;
	height: 2em;
	margin-right: 1vh;
	border: 1.5px solid #FFCFBF;
}
#task-title {
	font-weight: bold;
	margin-bottom: 1vh;
}
#task-text {
	margin-top: 2.5%;
}
#task-name { 
	float: left;
}
#task-options { 
	float: right; 
	text-align: right; 
}
#more-tasks {
	height: 1.25em;
	clear: both;
	text-align: center;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}