@font-face {
    font-family: 'besom';
    src: url('../fonts/besom/besom.eot');
    src: url('../fonts/besom/besom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/besom/besom.woff2') format('woff2'),
         url('../fonts/besom/besom.woff') format('woff'),
         url('../fonts/besom/besom.ttf') format('truetype'),
         url('../fonts/besom/besom.svg#besomregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stellar';
    src: url('../fonts/stellar/stellar-light-webfont.eot');
    src: url('../fonts/stellar/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar/stellar-light-webfont.woff2') format('woff2'),
         url('../fonts/stellar/stellar-light-webfont.woff') format('woff'),
         url('../fonts/stellar/stellar-light-webfont.ttf') format('truetype'),
         url('../fonts/stellar/stellar-light-webfont.svg#stellarlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'stellar';
    src: url('../fonts/stellar/stellar-medium-webfont.eot');
    src: url('../fonts/stellar/stellar-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar/stellar-medium-webfont.woff2') format('woff2'),
         url('../fonts/stellar/stellar-medium-webfont.woff') format('woff'),
         url('../fonts/stellar/stellar-medium-webfont.ttf') format('truetype'),
         url('../fonts/stellar/stellar-medium-webfont.svg#stellarmedium') format('svg');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'homizio';
    src: url('../fonts/homizio/regular/regular.eot');
    src: local('☺'), 
         url('../fonts/homizio/regular/regular.woff') format('woff'), 
         url('../fonts/homizio/regular/regular.ttf') format('truetype'), 
         url('../fonts/homizio/regular/regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'homizio';
    src: url('../fonts/homizio/light/light.eot');
    src: url('../fonts/homizio/light/light.woff') format('woff'), 
         url('../fonts/homizio/light/light.ttf') format('truetype'), 
         url('../fonts/homizio/light/light.svg') format('svg');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'homizio';
    src: url('../fonts/homizio/bold/bold.eot');
    src: url('../fonts/homizio/bold/bold.woff') format('woff'), 
         url('../fonts/homizio/bold/bold.ttf') format('truetype'), 
         url('../fonts/homizio/bold/bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
	background-image: url("../images/dogparkbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img {
    max-width: 100%;
    height: auto;
}
i { 
    cursor: pointer; 
}
a {
    color: inherit;
    text-decoration: none;
}

.round {
	border-radius: 50%;
}

.center-text {
    text-align: center;
}

.light-background {
    background-color: rgba(255, 255, 255, 0.75)
}

#logout {
    position: fixed;
    top: 1vh;
    right: 2vh;
    color: #444;
    text-align: right;
}

/* default/small screen */

/* text size */
.giant-text {
    font-family: homizio, Arial, sans-serif;
    font-weight: bold;
    font-size: 15vw;
}
.big-text {
    font-family: homizio, Arial, sans-serif;
    font-weight: normal;
    font-size: 10vw;
}
.medium-text {
    font-family: 'stellar', Arial, sans-serif;
    font-weight: bold;
    font-size: 8vw;
}
.small-text {
    font-family: 'stellar', Arial, sans-serif;
    font-weight: normal;
    font-size: 5vw;
}

/* text color */
.white-text {
    color: #fff;
}
.gray-text {
    color: #444;
}
.pink-text {
    color: #EA9999;
}

/* text border */
.text-border {
    text-shadow:  2px  0px 0 #fff,
                  2px  2px 0 #fff,
                  0px  2px 0 #fff,
                 -2px  2px 0 #fff,
                 -2px  0px 0 #fff;
}

/* image size */
.big-image {
    width: 32vh;
    height: 32vh;
    margin: 5vh;
}
.medium-image {
    width: 16vh;
    margin: 2vh;
}
.small-image {
    width: 8vh;
    margin: 1vh;
}

/* image border */
.image-border {
    border-width: 2px;
    border-style: hidden solid solid solid;
    border-color: #fff;
}
.image-border:active {
    border-width: 2px;
    border-style: solid solid hidden solid;
    border-color: #666 #888 #888 #888;
}

/* big wide screen */
@media all and (orientation: landscape) {
    /* text size */
    .giant-text {
        font-family: homizio, Arial, sans-serif;
        font-weight: bold;
    	font-size: 10vw;
    }
    .big-text {
        font-family: homizio, Arial, sans-serif;
        font-weight: normal;
        font-size: 4vw;
    }
    .medium-text {
        font-family: 'stellar', Arial, sans-serif;
        font-weight: bold;
        font-size: 2vw;
    }
    .small-text {
        font-family: 'stellar', Arial, sans-serif;
        font-weight: normal;
        font-size: 1vw;
    }

    /* image size */
    .big-image {
        width: 15vw;
        height: auto;
        margin: 0;
    }
    .medium-image {
        width: 5vw;
        margin: 2vw;
    }
    .small-image {
        width: 3vw;
        margin: 0;
    }
}

