.size {
	overflow: scroll;
}

@media all and (min-width: 800px) {
	.size {
		padding: 0 20% 0 20%;
	}
}
.wrapper {
	top: 100px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;
	-webkit-align-items: center;
	height: 100%;
}
.title {
	display: -webkit-flex;
    display: flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;
	-webkit-align-items: center;
    width: 100%;
    padding: 5vh 0 0 0;
}
.title>img {
	border: 2px solid #fff;
	margin: 0 6vh 0 0;
}
.title>span {
	margin: 0 1vh 0 0;
}
.content {
	align-self: stretch;
	-webkit-align-self: stretch;
	
    display: flex;
    display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;
	-webkit-align-items: center;
}
.column-flex {
	display: flex;
    display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: flex-start;
	-webkit-align-items: flex-start;
}

.content>div {
	padding: 1vh;
}
.sidebar {
	margin: 2vh 2vh 0 0;
	flex-basis: 13.5vw;
	-webkit-flex-basis: 13.5vw;
}
.mainbar {
	flex-grow: 2;
	-webkit-flex-grow: 2;
}



#map { 
	height: 180px; 
}